.popup__title-big-img {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  width: 291px;
  min-height: 12px;
  padding-top: 10px;
  padding-left: 40px;
}
