.popup__input_type_error {
  border: 1px solid #FF0000;
  padding-bottom: 13px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  width: 100%;
}
