.profile__edit {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0;
  top: 15px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ffff;
  grid-area: edit;
}

.profile__edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 850px) {
  .profile__edit {
    width: 18px;
    height: 18px;
  }
}


@media screen and (max-width: 420px) {
  .profile__edit {
    right: 19px;
    top: 6px;
}
}

