.popup__menu {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 15px;
  max-width: 358px;
  border: none;
}




@media screen and (max-width: 478px) {
  .popup__menu {
    padding-top: 75px;
  }
}
