.header__logo {
  width: 142px;
  height: 33px;
  padding-bottom: 41px;
  background: url(../../../image/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}


@media screen and (max-width: 420px) {
  .header__logo {
    background: url(../../../image/logo\ smoll.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 25px;
}
}

