.content {
  margin: 0 auto;
  max-width: 880px;
  z-index: 1;
}


@media screen and (max-width: 964px) {
  .content {
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
  }
}


@media screen and (max-width: 632px) {
  .content {
    padding: 0;
  }
}
