.profile__add {
  align-self: center;
  justify-self: end;
  width: 150px;
  min-height: 50px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #ffff;
  border-radius: 2px;
  grid-area: add;
  background: url(../../../image/Add\ Button.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__add:hover {
  opacity: 0.6;
}


@media screen and (max-width: 855px) {
  .profile__add {
    width: 282px;
    justify-self: center;
  }
}


@media screen and (max-width: 420px) {
  .profile__add {
    background-size: 16px 16px;
}
}
