.profile__add {
  position: absolute;
  top: 30px;
  right: 0;
  min-width: 150px;
  min-height: 50px;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ffff;;
  grid-area: add;

}

.profile__add:hover {
  opacity: 0.6;
}


@media screen and (max-width: 855px) {
  .profile__add {
    top: 0px;
    background-position: center;
    min-width: 282px;
  }
}
