.popup__img {
  object-fit: contain;
  object-position: center;
  vertical-align: middle;
  max-width: 75vw;
  max-height: 75vh;

}


@media screen and (max-width: 478px) {
  .popup__img {
    

  }
}

