.form__close {
  background: url(../../../image/Close\ Icon.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: black;
  border: none;
  border:none;
  width: 32px;
  height: 32px;
}

.form__close:hover {
  opacity: 0.6;
}
