.profile__info {
  display: grid;
  grid-row: auto;
  grid-template-columns: auto-fit, minmax(294px 42px);
  grid-template-rows: auto-fit, minmax(39px 18px);
  min-width: 336px;
  gap: 15px;
  grid-area: info;
  grid-template-areas:
  "name edit"
  "description description"
}


@media screen and (max-width: 800px) {
  .profile__info {
   justify-content: center;
  }
}


@media screen and (max-width: 420px) {
  .profile__info {
    justify-items: center;
    justify-content: center;
    gap: 0px;
    min-width: 282px;
    padding-bottom: 5px;
}
}
