.profile__info {
  display: grid;
  min-width: 336px;
  gap: 15px;
  grid-area: info;
  grid-template-areas:
  "name edit"
  "description description";
}


@media screen and (max-width: 800px) {
  .profile__info {
   justify-content: center;
  }
}


@media screen and (max-width: 420px) {
  .profile__info {
    justify-items: center;
    gap: 0px;
    padding-bottom: 5px;
}
}
