.element {
  padding: 0;
  list-style-type: none;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px 20px;
}

@media screen and (max-width: 960px) {
  .element {
    padding-left: 40px;
    padding-right: 40px;
}
}
