.element__button-like {
  align-self: self-end;
  background: url(../../../image/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transform: translate(-20px, -5px);
  margin-left: 30px;
}

.element__button-like:hover {
  opacity: 0.5;
}

