.profile__edit-img {
  background: url(../../../image/Edit\ Button.svg);
  width: 10px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-img:hover {
  opacity: 0.6;
}

@media screen and (max-width: 850px) {
  .profile__edit-img {
    width: 7px;
    height: 7px;
  }
}




